#**
*
 This template is used to produce code that casts one type to another

 @author Ilja Hämäläinen
 @version 1

*#

#if(${currentField.getCastType()} == "STRING_TO_LONG")
        if (null != stub.get${capitalizedFieldName}()) {
            this._${field} = java.lang.Long.parseLong(stub.get${capitalizedFieldName}());
        }
#elseif(${currentField.getCastType()} == "STRING_TO_INT")
        if (null != stub.get${capitalizedFieldName}()) {
            this._${field} = java.lang.Integer.parseInteger(stub.get${capitalizedFieldName}());
        }
#elseif(${currentField.getCastType()} == "STRING_TO_FLOAT")
        if (null != stub.get${capitalizedFieldName}()) {
            this._${field} = java.lang.Float.parseFloat(stub.get${capitalizedFieldName}());
        }
#else

#end
