#**
*
 This template is used to produce code that casts one type to another

 @author Ilja Hämäläinen
 @version 1

*#
#if(${currentField.getCastType()} == "STRING_TO_LONG")
            this.set${capitalizedFieldName}(java.lang.Long.parseLong(stub.get${capitalizedFieldName}()));
#elseif(${currentField.getCastType()} == "STRING_TO_INT")
            this._${fieldPrefix}${field} = java.lang.Integer.parseInteger(stub.get${capitalizedFieldName}());
#elseif(${currentField.getCastType()} == "STRING_TO_FLOAT")
            this._${fieldPrefix}${field} = java.lang.Float.parseFloat(stub.get${capitalizedFieldName}());
#else
            // don't know how to parse ${currentField.getCastType()} type for field this._${field} -- ${currentField}
#end
