#**
*
 This template is used to produce code extracts ID parsed from string

 @author Ilja Hämäläinen
 @version 1

*##if(${identityFieldType} == "java.lang.Long")
final long stubIdent = java.lang.Long.parseLong(stub.get${capitalizedFieldName}().get${display.capitalize($identityFieldName)}());
#elseif(${identityFieldType} == "java.lang.Integer")
final int stubIdent = java.lang.Integer.parseInt(stub.get${capitalizedFieldName}().get${display.capitalize($identityFieldName)}());
#elseif(${identityFieldType} == "java.lang.Float")
final float stubIdent = java.lang.Float.parseFloat(stub.get${capitalizedFieldName}().get${display.capitalize($identityFieldName)}());
#else
// don't know how to cast ${identityFieldType} (ParsedIdentField.vm)
#end