#**
*
 This template is used to produce code extracts ID parsed from string

 @author Ilja Hämäläinen
 @version 1

*##if(${identityFieldType} == "java.lang.Long")
final long stubIdent = java.lang.Long.parseLong($stringIdent);
#elseif(${identityFieldType} == "java.lang.Integer")
final int stubIdent = java.lang.Integer.parseInt($stringIdent);
#elseif(${identityFieldType} == "java.lang.Float")
final float stubIdent = java.lang.Float.parseFloat($stringIdent);
#else
// don't know how to cast ${identityFieldType} (ParsedIdentField.vm)
#end